.advantage_about_wrapper {
  .advantage_about_title {

    margin-top: 54px;
    h5 {
      color: #011F3A;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px; /* 127.778% */
      letter-spacing: 0.36px;
      margin-top: 12px;
    }

    p {
      max-width: 250px;
      color: #A1A1A1;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 160% */
    }
  }
}